:root {}

body {
  background-color: black;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.logedin-layout {
  display: flex;
  gap: 60px;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
}

.logedin-layout nav {
  height: 100%;
  min-height: 100dvh;
  width: 400px;
  background-color: #626262;
  display: flex;
  flex-direction: column;
  padding: 60px 15px;
  gap: 30px;
  border-radius: 8px;
  position: relative;
}

.logedin-layout nav a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 34px;
  border-radius: 8px;
  height: 80px;
  line-height: 80px;
  background-color: #8C8C8C;
  transition: border-width 100ms linear, background-color 100ms linear;
}

.logedin-layout nav a:hover {
  border: 1px solid black;
  background-color: #6b6b6b;

}

.logedin-layout nav a.active {
  border: 1px solid black;
  background-color: #7a7a7a;

}

.logedin-layout .admin-tag {
  position: absolute;
  bottom: 30px;
  left: 15px;
  color: white;
  font-size: 24px;
}

.logedin-layout nav button.toggle-nav {
  display: none;
}

@media (max-width: 1440px) {
  .logedin-layout nav {
    width: 250px;
  }

  .logedin-layout nav a {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 844px) {
  .logedin-layout nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    transition: transform 500ms ease-in-out;
    padding: 60px 15px 60px 75px;
  }

  .logedin-layout nav.open{
    transform: translateX(calc(100% - 60px));
  }

  .logedin-layout nav.show {
    transform: translateX(100%);
  }

  .logedin-layout nav a {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
  }

  .logedin-layout nav button.toggle-nav {
    position: absolute;
    display: block;
    background-color: transparent;
    border: none;
    width: 53px;
    height: 155px;
    left: 100%;
    top: calc(50% - 77px);
    margin: 0;
    padding: 0;
  }

  .logedin-layout nav button.toggle-nav svg {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .logedin-layout nav button.toggle-nav .arrow{
    transition: transform 200ms linear;
  }

  .logedin-layout nav.open button.toggle-nav .arrow{
    transform: rotate(180deg) translateX(10px);
  }
}